@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@700&display=swap');

:root {
    --green: #48813c;
    --brown: #803c20;
    --purple: #393f80;
}

* {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    background: #fff;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;  
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
}