.App {
  justify-content: center;
  text-align: center;
}


/* NavBar */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 80px;
}

#navbar ul li {
  padding: 0 100px;
}

#navbar a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}

#navbar ul li img {
  height: 60px;
  width: 60px;
}

#navbar a::after {
  content: "";
  display: block;
  height: 2px;
  bottom: 0;
  width: 0;
  left: 0;
  background: #fff;
  transition: all .3s ease-in-out;
}

#navbar a:hover::after {
  width: 100%;
  background-color: #fff;
}

.mobile-menu {
  display: none;
}

.ai-three-line-horizontal {
  font-size: 40px;
  color: #fff;
}

@media (max-width: 640px) {
  #navbar ul li {
    padding: 0 20px;
  }
}

@media (max-width: 320px) {
  #navbar .menu,
  #navbar .contact {
      display: none;
  }

  .mobile-menu {
    display: contents;
  }
}


/* Announcement */
.bg-image {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("https://user-images.githubusercontent.com/65358991/170400125-13595877-a8de-4b60-8dd3-ed5c1af6986b.png");
  background-size: cover;
  background-position: 50% 50%;
}

#announcement {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(57, 63, 128, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#announcement .content {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
}

#announcement .logo {
  width: 362px;
  height: auto;
}

#announcement .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#announcement .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 398px;
  margin-left: 120px;
}

#announcement .message h1 {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  #announcement .content {
    padding: 0 20px;
  }

  #announcement .message {
      margin-left: 20px;
  }
  
  #announcement .logo {
    width: 302px;
  }

  #announcement .message h1 {
    font-size: 3em;
  }

  #announcement .message h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  #announcement .content {
    flex-wrap: wrap;
  }

  #announcement .message h1 {
    font-size: 2.75em;
  }
}

@media (max-width: 640px) {
  #announcement .logo {
    display: none;
  }

  #announcement .message h1 {
    font-size: 2.5em;
  }
}


/* CallToAction */
#callToAction {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  margin: 140px 0;
}

#callToAction .container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  top: 0;
}

#callToAction .img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 486px;
}

#callToAction .img-wrapper img {
  max-width: 710px;
  max-height: 902px;
  opacity: .8;
}

#callToAction .form-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 374px;
  width: 100%;
  height: auto;
}

#callToAction .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: .80;
}

