.App {
  justify-content: center;
  text-align: center;
}


/* NavBar */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  gap: 120px;
  list-style: none;
  height: 80px;
}

#navbar a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}

#navbar ul li img {
  height: 60px;
  width: 60px;
}

#navbar a::after {
  content: "";
  display: block;
  height: 2px;
  bottom: 0;
  width: 0;
  left: 0;
  background: #fff;
  transition: all .3s ease-in-out;
}

#navbar a:hover::after {
  width: 100%;
  background-color: #fff;
}

@media (max-width: 640px) {
  #navbar ul {
    gap: 50px;
  }
}


/* Announcement */
.bg-image {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("https://user-images.githubusercontent.com/65358991/170400125-13595877-a8de-4b60-8dd3-ed5c1af6986b.png");
  background-size: cover;
  background-position: 50% 50%;
}

#announcement {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(57, 63, 128, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

#announcement .content {
  position: relative;
  display: flex;
  width: 80%;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  gap: 50px
}

#announcement img {
  max-width: 362px;
  max-height: 398px;
}

.a-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 640px;
  height: 398px;
}

@media (max-width: 1024px) { 
  #announcement img {
    transform: scale(.8);
  }

  #announcement .message h1 {
    font-size: 3em;
  }

  #announcement .message h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  #announcement .content {
    gap: 0;
    flex-wrap: wrap;
  }

  #announcement .message h1 {
    font-size: 2.75em;
  }
}

@media (max-width: 640px) {
  #announcement img {
    transform: scale(.6);
  }

  #announcement .message h1 {
    font-size: 2.5em;
  }

}